{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Receipt</title>
    <style>
       .container{
        width: 100%;
       }
       table{
        border-collapse: collapse;
       }
       td{
        padding: 5px;
        text-align: center;
       }
    </style>
</head>
<body>
    {% if error %}
        <div class="form-container bg-white rounded-xl p-8 w-full max-w-2xl">

            <!-- Action Buttons -->
             <div class="text-center mb-8">
                <h1 class="text-3xl font-bold gradient-text">Receipt Not Found</h1>
                <p class="text-3xl text-red-600 mt-2">404!</p>
                <p class="text-3xl text-red-600 mt-2">{{error}}</p>
            </div>
            <div class="pt-4 flex gap-4">
                <button 
                class="flex-1 bg-indigo-600 text-white py-3 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition font-medium">
                <a href="/" class="flex-1 bg-indigo-600 text-white py-3 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition font-medium">
                    Back
                </a>
                </button>
            </div> 
        </div>
    {% else %}
   
        <div class="container">
            <div>
                <table border="1" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td  colspan="4" class="head">Fee Receipt(School copy)</td>
                    </tr>
                    <tr>
                        <td> Receipt No.  </td>
                        <td>
                            {{receipt.receipt_no}}
                            
                        </td>
                        <td>
                            Date:   {{receipt.date}}
                        </td>
                    </tr>
                    <tr>
                        <td>GRNO.</td>
                        <td colspan="2">enter grno</td>
                    </tr>
                    <tr>
                        <td>Student Name</td>
                        <td colspan="2">{{receipt.student_name|upper}}</td>
                    </tr>
                    <tr>
                        <td>Class/Section</td>
                        <td>{{receipt.standard}}</td>
                        <td>{{receipt.section|upper}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Student's Fees Details
                        </td>
                        <td>Amount</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total Fee</td>
                        <td>{{receipt.total_fees}}</td>
                    </tr>
                    <tr>
                        <td>Rupees In Words</td>
                        <td colspan="4">{{feesinwords|upper}} ONLY</td>
                    </tr>
                </table>
            </div>
            
        </div>
            <!-- Action Buttons -->
            <div class="pt-4 flex gap-4">
                <button 
                class="flex-1 bg-indigo-600 text-white py-3 px-4 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition font-medium">
                <a href="/">
                    Back
                </a>
                </button>
                <button type="button" id="printBtn"
                    class="flex-1 bg-gray-600 text-white py-3 px-4 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition font-medium">
                    Print
                </button>
            </div>
     {% endif%}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Format and update fee display
            // const feeSlider = document.getElementById('feeAmount');
            // const feeDisplay = document.getElementById('feeValue');
            
            // feeSlider.addEventListener('input', function() {
            //     const formattedValue = new Intl.NumberFormat('en-IN', {
            //         style: 'currency',
            //         currency: 'INR',
            //         maximumFractionDigits: 0
            //     }).format(this.value);
                
            //     feeDisplay.textContent = formattedValue;
            // });

            // Form validation
            

            document.getElementById('printBtn').addEventListener('click', function() {
                window.print();
            });
            
        });
    </script>
</body>
</html>

